:root
{
    --cart-col:  #FFFFFF;
    --dark-green:  #198754;
}

@font-face {
    font-family: SFTransRobotics;
    src: url(../../External-Files/Font/sftransroboticsextended.woff);
}


.logo{
    font-family: 'SFTransRobotics';
}


#center{
    margin-left: 275px !important;
}


#cart:hover{
    --cart-col:  #198754;
    color: #198754;
}


#main-home{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(25, 135, 84, 0.75)), url(../../External-Files/Images/Black.png);
}

.greenHover{
    text-decoration: none !important;
}
.greenHover:hover{
    color: #09e980 !important;
    text-decoration: none !important;
}

.greenHoverbtn:hover{
    color: #FFFFFF !important;
    background-color: #198754 !important;
}

.product{
    background-color: #198754 !important;
}


.product .list-group-item{
    border: #198754 5px solid !important;
    border-radius: 40px !important;
}

.product:hover{
    background-color: black !important;
    color: #FFFFFF !important;
}

.product:hover  .list-group-item{
    border-color: black !important;
    background-color: #FFFFFF !important;
    color: black !important;
}
