:root
{
    --cart-col:  #FFFFFF;
    --dark-green:  #198754;
    --modal-bg: #808080;
}

@font-face {
    font-family: SFTransRobotics;
    src: url(../../External-Files/Font/sftransroboticsextended.woff);
}

@media (min-width: 768px) {
    .modal {
      width: 800px;
    }
}

.logo{
    font-family: 'SFTransRobotics';
}


#center{
    margin-left: 275px !important;
}


#main-home{
    width: 100%;
    height: 100%;
    background-color: rgba(25, 175, 84, 1);
}


#cart:hover{
    --cart-col:  #198754;
    color: #198754;
}

.greenHover{
    text-decoration: none !important;
}

.greenHover:hover{
    color: #09e980 !important;
    text-decoration: none !important;
}

.greenHoverbtn:hover{
    color: #FFFFFF !important;
    background-color: #198754 !important;
}


.buttonslide {
    background-color:yellow;
    font-family: inherit;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono", monospace;
}

  .slide-b {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(32, 192, 48, 0);
}

  .slide-b p {
    font-family: 'FrederickatheGreat', 'Times ', Courier, monospace;
}


.slide-b i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
}
  
.slide-b div {
    transition: transform 0.8s;
}
  
.slide-b:hover div {
    transform: translateX(-6px);
}
  
.slide-b::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}
  
.slide-b:hover i {
    opacity: 1;
    transform: translateX(-6px);
}


.copyright{
    font-family: 'sans-serif';
}

.links-head{
    font-family: 'Noto Sans Mono';
    font-weight: bold;
}

.links{
    font-family: monospace;
}

.modal-text{
    font-size: 20px;
}

.modal-title{
    font-size: 24px;
}

.product{
    background-color: #198754 !important;
    transition: background-color 0.5s ease-out 100ms, color 0.5s ease-out 100ms;
}

.product .list-group-item{
    border: #198754 5px solid !important;
    border-radius: 40px !important;
    transition: border-color 0.5s ease-out 100ms, background-color 0.5s ease-out 100ms, color 0.5s ease-out 100ms;
}

.product:hover{
    background-color: black !important;
    color: white !important;
}

.product:hover .list-group-item{
    border-color: black !important;
    background-color: white !important;
    color: black !important;
}

.black{
    background-color: black !important;
}

