:root
{
    --cart-col:  #FFFFFF;
    --dark-green:  #198754;
}

@font-face {
    font-family: SFTransRobotics;
    src: url(../../External-Files/Font/sftransroboticsextended.woff);
}


.logo{
    font-family: 'SFTransRobotics';
}


#center{
    margin-left: 275px !important;
}


#main-home{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(25, 135, 84, 0.75)), url(../../External-Files/Images/Black.png);
}


#cart:hover{
    --cart-col:  #198754;
    color: #198754;
}

.greenHover{
    text-decoration: none !important;
}

.greenHover:hover{
    color: #09e980 !important;
    text-decoration: none !important;
}

.greenHoverbtn:hover{
    color: #FFFFFF !important;
    background-color: #198754 !important;
}


.buttonslide {
    background-color:yellow;
    font-family: inherit;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto Mono", monospace;
}

  .slide-b {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(32, 192, 48, 0);
}

  .slide-b p {
    font-family: 'FrederickatheGreat', 'Times ', Courier, monospace;
}


.slide-b i {
    opacity: 0;
    font-size: 13px;
    transition: 0.2s;
    position: absolute;
    right: 10px;
    top: 21px;
    transition: transform 1;
}
  
.slide-b div {
    transition: transform 0.8s;
}
  
.slide-b:hover div {
    transform: translateX(-6px);
}
  
.slide-b::after {
    content: "";
    background-color: #66f2d5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}
  
.slide-b:hover i {
    opacity: 1;
    transform: translateX(-6px);
}


.copyright{
    font-family: 'sans-serif';
}

.links-head{
    font-family: 'Noto Sans Mono';
    font-weight: bold;
}

.links{
    font-family: monospace;
}

